/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001;
    padding: 10px 20px;
    position: relative;
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    width: 50px;
}

.nav-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-family: "Monospace", sans-serif;
}

.nav-links a:hover {
    text-decoration: underline;
}