.carousel-wrapper {
  overflow: hidden;
  width: 100vw; 
  background-color: inherit;
}

.carousel-container {
  display: flex;
  align-items: center;
  padding: 20px;
  width:2000px;
  animation: scroll 12s linear infinite;
  transition: transform 5.1s ease-in-out; 
}

.carousel-wrapper:hover .carousel-container,
.carousel-container:hover {
  animation-play-state: paused;
}

.carousel-container > * {
  flex-shrink: 0; 
}

.circle {
  border-radius: 50%;
  background-color: gray;
}

.small-circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-circle {
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 50%;
}

.rectangle {
  width: 77px; 
  height: 190px; 
  background-color: gray;
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
