.circle-container {
  position: relative;
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  border-radius: 50%;
}

.large {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: ; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; 
  border-radius: 50%;
  border: 50px solid white;

}

.medium {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #6200ea; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  transition: width 0.6s ease, height 0.6s ease; 
}

.image-circle {
  position: absolute;
  width: 100px; 
  height: 100px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 50%;
  overflow: hidden; 
  transition: transform 0.3s ease; 
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); 
  color: white; 
  font-family: 'Samsung Sharp Sans', sans-serif; 
  font-weight: 700; 
  letter-spacing: 1px; 
  z-index: 3; 
  opacity: 0; 
  transition: opacity 0.3s ease, transform 0.6s ease;
  text-align: center; 
}

.text.above {
  top: -20%; 
  font-size: 12px; 
  transform: translate(-50%, -30px); 
}

.text.below {
  bottom: -20%; 
  font-size: 16px; 
  transform: translate(-50%, 30px); 
}

/* Hover effect */
.circle-container:hover .medium {
  width: 200px; 
  height: 200px; 
}

.circle-container:hover .text {
  opacity: 1;
}

.circle-container:hover .text.above {
  top: 10%; 
  transform: translate(-50%, 0); 
}

.circle-container:hover .text.below {
  bottom: 10%; 
  transform: translate(-50%, 0); 
}

.circle-container:hover .image-circle {
  transform: translate(-50%, -50%) scale(1.02); 
}
