.card {
  border-radius: var(--card-radius);
  padding: 28px 20px 26px;
  max-width: calc((100% - 28px - 28px) / 3);
  width: calc((100% - 28px - 28px) / 3);
  aspect-ratio: 9 / 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-image: linear-gradient(to bottom right, rgb(33 41 59 / .6) 0%, rgb(41 51 73 / .6) 90%, rgb(33 41 59 / .6) 100%);
  border-top-color: #ffffff1a;
  border-bottom-color: #0000001a;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  border-left: none;
  border-right: none;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.avatar {
  width: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid rgba(255, 255, 255, 0.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
  width: 100%;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.name {
  font-size: 1.5rem;
  margin: 1vh 0 0.5vh 0;
  font-weight: 700;
  font-family: JetBrains Mono;
}

.role {
  margin: 0;
  color: var(--muted);
  font-size: 1.1rem;
}

.badges {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}