.wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tab {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.03);
  color: var(--muted);
  height: 2.5rem;
  font-size: 1rem;
  width: 10vw;
  font-weight: 900;
  font-family: JetBrains Mono;
}

.active {
  background: var(--accent);
  color: #071024;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}