@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100vh;
}
